In [35]:
import pandas as pd
import yfinance as yf
from datetime import datetime,date
from dateutil.relativedelta import relativedelta

In [3]:
end = datetime.now()
start = datetime.now() - relativedelta(years=10)
print(start,end)
data = yf.download('RELIANCE'+'.NS',start=start,end=end,threads=True)

2011-04-28 08:43:49.031340 2021-04-28 08:43:49.031340
[*********************100%***********************]  1 of 1 completed

In [18]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-04-28,491.342560,491.837860,480.445862,481.634583,442.249115,16481230
2011-04-29,482.922363,489.361328,481.089752,487.256287,447.411163,6893126
2011-05-02,487.330597,488.766968,476.136688,477.845490,438.769897,6280802
2011-05-03,478.018860,479.158051,466.106781,467.518402,429.287262,10166156
2011-05-04,468.063232,473.883057,465.586700,469.375793,430.992798,5384888
...,...,...,...,...,...,...
2021-04-20,1910.500000,1919.000000,1890.449951,1901.150024,1901.150024,7939490
2021-04-22,1892.250000,1914.449951,1876.699951,1906.400024,1906.400024,6687573
2021-04-23,1906.000000,1918.900024,1895.349976,1904.349976,1904.349976,5459016
2021-04-26,1920.000000,1962.000000,1911.500000,1937.849976,1937.849976,9620785
2021-04-27,1940.000000,1997.199951,1938.250000,1988.650024,1988.650024,9226547

In [83]:
daily = (100 * data.Close[-1])/data.Close[-2] - 100
daily

2.6214644821906177

In [84]:
daily = data.index[-1] - relativedelta(days=1)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[daily.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        daily = daily - relativedelta(days=1)

2.6214644821906177

In [ ]:
dates = data.index[-1] - relativedelta(days=0,weeks=ind[1],months=ind[2],years=ind[3])

In [90]:
data.loc[daily:,'Close']

Date
2021-04-26    1937.849976
2021-04-27    1988.650024
Name: Close, dtype: float64

In [85]:
weekly = data.index[-1] - relativedelta(weeks=1)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[weekly.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        weekly = weekly + relativedelta(days=1)

4.602477388756711

In [72]:
monthly = data.index[-1] - relativedelta(months=1)

while True :
    try :
        print((100 * data['Adj Close'][-1])/data.loc[monthly.strftime("%Y-%m-%d")]['Adj Close'] - 100) 
        break
    except :
        monthly = monthly + relativedelta(days=1)

-2.003154951754766

In [73]:
month_3 = data.index[-1] - relativedelta(months=3)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[month_3.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        month_3 = month_3 + relativedelta(days=1)

4.9419537949373336

In [74]:
month_6 = data.index[-1] - relativedelta(months=6)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[month_6.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        month_6 = month_6 + relativedelta(days=1)

-2.2536237692768424

In [75]:
today_d = date.today()
year = today_d.year

ytd = datetime(year,1,1)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[ytd.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        ytd = ytd + relativedelta(days=1)

0.05786286360063286

In [76]:
yearly = data.index[-1] - relativedelta(years=1)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[yearly.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        yearly = yearly + relativedelta(days=1)

40.40918827028446

In [77]:
year_2 = data.index[-1] - relativedelta(years=2)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[year_2.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        year_2 = year_2 + relativedelta(days=1)

44.1341561589071

In [78]:
year_3 = data.index[-1] - relativedelta(years=3)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[year_3.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        year_3 = year_3 + relativedelta(days=1)

101.4955748890406

In [79]:
year_5 = data.index[-1] - relativedelta(years=5)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[year_5.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        year_5 = year_5 + relativedelta(days=1)

293.85922736021035

In [80]:
year_7 = data.index[-1] - relativedelta(years=7) 

while True :
    try :
        print((100 * data.Close[-1])/data.loc[year_7.strftime("%Y-%m-%d")].Close - 100) 
        break
    except :
        year_7 = year_7 + relativedelta(days=1)

324.8678141464552

In [81]:
year_10 = data.index[-1] - relativedelta(years=10)

while True :
    try :
        print((100 * data.Close[-1])/data.loc[year_10.strftime("%Y-%m-%d")].Open - 100) 
        break
    except :
        year_10 = year_10 + relativedelta(days=1)

304.7379948451934

In [102]:
temp_data = yf.download('RELIANCE'+'.NS',start=start,end=end,threads=True)
temp_data = temp_data.reset_index()
temp_data.head(2)
# [['Date','Close']]
# fig = px.line(temp_data,y='Close',x='Date')
# st.line_chart(fig)

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-04-28,491.342560,491.837860,480.445862,481.634583,442.249115,16481230
1,2011-04-29,482.922363,489.361328,481.089752,487.256287,447.411163,6893126

In [105]:
temp_data.Date

0      2011-04-28
1      2011-04-29
2      2011-05-02
3      2011-05-03
4      2011-05-04
          ...
2455   2021-04-20
2456   2021-04-22
2457   2021-04-23
2458   2021-04-26
2459   2021-04-27
Name: Date, Length: 2460, dtype: datetime64[ns]

In [109]:
temp_data = yf.download(tickers='RELIANCE'+'.NS', period="1d", interval="15m")
temp_data = temp_data.reset_index()
temp_data.head(2)#[['Date','Close']]

[*********************100%***********************]  1 of 1 completed

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-04-29 09:15:00+05:30,2020.150024,2043.650024,2019.300049,2024.599976,2024.599976,1448328
1,2021-04-29 09:30:00+05:30,2024.199951,2031.849976,2023.800049,2026.199951,2026.199951,418449

In [123]:
str(temp_data.Datetime[0])[11:16]

'09:15'